@import "header.scss";

body{
    background-color: #F7F6F6;
}

.selection {
    background-color: #F7F6F6;
    margin: 0;
    display: grid;
   
    
    
    p{
        margin: 0;
    }


    .content{
        margin-left: auto;
        margin-right: auto;
        margin-top: 28px;
        place-self: center;
        background-color: #fff;
        width: 448px;
        
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
        border-radius: 20px;
        padding-bottom: 36px;

        .selcontainer {
            max-width: 400px;
            
            margin-left: auto;
            margin-right: auto;
            margin-top: 36px;


            .mail{
                border: 1px solid #B7BEC0;
                border-radius: 14px;
                width: 376px;
                height: 54px;
                margin-bottom: 0px;
                margin-top: 8px;
                padding-left: 20px;
                outline: none;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                
                &::placeholder{
                    color: #B7BEC0;
                }
            }

            .btn{
                width: 400px;
                height: 54px;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                border: none;
                border-radius: 14px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;

                
            }
            .green{
                background: #20B84B;
                color: #fff;
                margin-top: 24px;

                &:hover{
                    background: #4FCB72;
                }
            }
            .white{
                border: 1px solid #20B84B;
                background-color: #fff;
                color: #20B84B;
                margin-top: 12px;
                margin-bottom: 16px;

                &:hover{
                    background: #f4f4f4;
                }
            }
        }
    }
}