@import "header.scss";

body{
    background-color: #F7F6F6;
}

.selection {
    background-color: #F7F6F6;
    margin: 0;
    display: grid;
   
    
    
    p{
        margin: 0;
    }


    .content{
        margin-top: 28px;
        place-self: center;
        background-color: #fff;
        width: 466px;
        height: 674px;
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
        border-radius: 20px;

        .selcontainer {
            margin-left: 24px;
            padding-right: 24px;
            margin-top: 36px;


            .mail{
                border: 1px solid #B7BEC0;
                border-radius: 14px;
                padding-left: 20px;
                width: 390px;
                height: 54px;
                margin-bottom: 14px;
                margin-top: 32px;
                outline: none;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                
                &::placeholder{
                    color: #B7BEC0;
                }
            }

            .pass{
                .password{
                    border: 1px solid #B7BEC0;
                    border-radius: 14px;
                    height: 54px;
                    width: 390px;
                    padding-left: 20px;
                    color: #B7BEC0;
                    margin-bottom: 8px;
                    outline: none;
                    font-family: 'Gilroy';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;

                    &::placeholder{
                        color: #B7BEC0;
                    }
                }

                .eye{
                    .pass-logo{
                        float: right;
                        padding-right: 20px;
                        position: relative;
                        margin-top: -40px;
                        height: 10.8px;
                        width: 21.6px;
                        border: none;
                    }

                    

                    .open-eye{
                        opacity: 0;
                    }

                    

                    
                }
            }

            .btn{
                width: 418px;
                height: 54px;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                border: none;
                border-radius: 14px;
                font-family: 'Gilroy';
                font-style: normal;
                font-weight: 500;
                font-size: 20px;

                
            }
            .green{
                background: #20B84B;
                color: #fff;
                margin-top: 24px;

                &:hover{
                    background: #4FCB72;
                }
            }
            .white{
                border: 1px solid #20B84B;
                background-color: #fff;
                color: #20B84B;
                margin-top: 12px;
                margin-bottom: 16px;

                &:hover{
                    background: #f4f4f4;
                }
            }

            .line{
                display: flex;
                margin-top: 24px;
                margin-bottom: 24px;

                hr {
                    width: 185px;
                    height: 1px;
                    background: #D4DCDE;
                    border:none;
                    margin-top: 10px;
                }
            }

            .imgs{
                display: flex;
                margin-left: 155px;
                margin-top: 16px;

                .img{
                    img{
                        margin-top: 8px;
                    }
                }

                .VK{
                    margin-left: 16px;
                }
            }
        }
    }
}